.main-container{
  display: flex;
  justify-content: space-between;
  padding: 60px 120px;
  background-color: rgb(14, 14, 14);
}

.main-content h1{
  color: #f3f3f3;
  font-size: 3rem;
  font-weight: 600;
  line-height: 65px;
  overflow-y: hidden;
}

.main-content p{
  color: #f3f3f3;
  font-size: 1.3rem;
  font-weight: 500;
}

.generator-container {
  background-color: rgb(234, 234, 234);
  width: 600px;
  height: 530px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 15px;
  overflow-y: hidden;
}

.tabs {
  display: flex;
  justify-content: space-  etween;
  background-color: #f3f3f3;
  border-radius: 10px;
  position: relative;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
}

.tab.active {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.6s ease;
  height: 37px;
  margin: 10px 10px;
}

.tab-slider {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 37px;
  background-color: #f3f3f3;
  border-radius: 5px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.password-generator {
  width: 530px;
  padding: 20px;
  margin: 20px 10px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.input-box {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.input-box input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 16px;
  padding: 5px;
  outline: none;
}

.input-box span {
  cursor: pointer;
  color: #333;
}

.pass-indicator {
  height: 5px;
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
}

.pass-length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.pass-settings {
  text-align: left;
  width: 380px;
}

.pass-settings label {
  font-weight: bold;
}

.options {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option .options_headings {
  font-size: 1.1rem;
  font-weight: 300;
}

.generate-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: rgb(9, 9, 9);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.generate-btn:hover {
  background: rgb(0, 0, 0);
}

/* memorable */
.paraphrase-generator {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  /* max-width: 400px; */
  
  margin: auto;
  text-align: center;
}


.range-character{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  text-align: center;
  align-items: center;
}

.range-character p{
  font-size: 16px;  
  color: #333;
  text-align: center;
  align-items: center;
}

.range-character input[type="range"]{
  width: 80%;
  height: 5px;
  margin-top: 8px;
  overflow-y: hidden;
}

.range-character span{
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  cursor: pointer;
}


.generated-input {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.memorable-btns{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.memorable-btns .cpy-btn, .memorable-btns .rf-btn{
  padding: 10px 0;
  border: none;
  background: #000;
  color: #f3f3f3;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

/* crypto - encryption decryption */
.encrypt-decrypt-tab {
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.encrypt-decrypt-tab > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 10px;
  flex-wrap: wrap;
}

.crypto-input-box {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.gen-load-key{
  display: flex;
  flex-direction: column;
}

.gen-load-key{
  width: 100%;
}

.enc-pwd{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.enc-pwd input[type="text"] {
  width: 96.5%;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
}

.enc-pwd .enc-btn{
  width: 100%;
}

.gen-load-key input[type="file"],
.dec-pwd input[type="file"] {
  font-size: 14px;
  color: #333;
}

.gen-load-key button,
.enc-pwd button,
.dec-pwd button {
  padding: 8px 14px;
  background: #000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gen-load-key button:hover,
.enc-pwd button:hover,
.dec-pwd button:hover {
  background: rgb(15, 15, 16);
}

.generate-key{
  width: 100%;
  display: flex;
}

.generate-key input[type="text"]{
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
}

.gen-load-key-btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}



.load-file{
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  text-align: center;
  gap: 10px;
}

.load-file p{
  color: rgb(120, 120, 120);
}

/* .load-inpt{
  background-color: rgb(247, 246, 248);
} */

.dec-file{
  background-color: rgb(202, 202, 202);
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  width: auto;
}

.dec-inpt{
  background-color: rgb(247, 246, 248); 
  width: 100%;
  padding: 10px 10px;
}

.dec-txt{
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
  width: 100%;
}



/* media query */
@media (max-width: 426px){
  .main-container{
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    
  }

  .main-content h1{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 37px;
    margin-right: 50px;
    margin-bottom: 10px;
  }

  .main-content p{
    font-size: 1.1rem;
    font-weight: 500;
  }

  .generator-container{
    width: 400px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow-y: hidden;
  }

  .password-generator{
    padding: 0;
  }

  .password-generator .input-box{
    width: 360px;
  }

  .pass-indicator, .pass-length{
    width: 380px;
  }

  .generate-btn{
    width: 380px;
    margin-right: 150px;
  }

  .range-character input[type="range"]{
    width: 60%;
  }

  .range-character span{
    font-size: 18px;
  }

  .gen-load-key button{
    width: 200px;
  }

  .gen-load-key input[type="file"]{
    margin-top: 12px;
    margin-left: 16px;
  }
}